.badge-button {
    background-color: transparent;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 56px;
    min-width: 0;
    outline: none;
    padding: 16px;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 56px;
    z-index: 0;
}

.badge-button.mini {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.badge-button.disabled {
    /*color: var(--paper-fab-disabled-text, --paper-grey-500);
    background: var(--paper-fab-disabled-background, --paper-grey-300);
    @apply(--paper-fab-disabled);*/
}